@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-XBold.eot');
    src: url('../fonts/AktivGrotesk-XBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGrotesk-XBold.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-XBold.woff') format('woff'),
        url('../fonts/AktivGrotesk-XBold.ttf') format('truetype'),
        url('../fonts/AktivGrotesk-XBold.svg#AktivGrotesk-XBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-Bold.eot');
    src: url('../fonts/AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-Bold.woff') format('woff'),
        url('../fonts/AktivGrotesk-Bold.ttf') format('truetype'),
        url('../fonts/AktivGrotesk-Bold.svg#AktivGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-Light.eot');
    src: url('../fonts/AktivGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGrotesk-Light.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-Light.woff') format('woff'),
        url('../fonts/AktivGrotesk-Light.ttf') format('truetype'),
        url('../fonts/AktivGrotesk-Light.svg#AktivGrotesk-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-Medium.eot');
    src: url('../fonts/AktivGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-Medium.woff') format('woff'),
        url('../fonts/AktivGrotesk-Medium.ttf') format('truetype'),
        url('../fonts/AktivGrotesk-Medium.svg#AktivGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/AktivGrotesk-Regular.eot');
    src: url('../fonts/AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/AktivGrotesk-Regular.woff') format('woff'),
        url('../fonts/AktivGrotesk-Regular.ttf') format('truetype'),
        url('../fonts/AktivGrotesk-Regular.svg#AktivGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Allan';
    src: url('../fonts/Allan-Regular.eot');
    src: url('../fonts/Allan-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Allan-Regular.woff2') format('woff2'),
        url('../fonts/Allan-Regular.woff') format('woff'),
        url('../fonts/Allan-Regular.ttf') format('truetype'),
        url('../fonts/Allan-Regular.svg#Allan-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Allan';
    src: url('../fonts/Allan-Bold.eot');
    src: url('../fonts/Allan-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Allan-Bold.woff2') format('woff2'),
        url('../fonts/Allan-Bold.woff') format('woff'),
        url('../fonts/Allan-Bold.ttf') format('truetype'),
        url('../fonts/Allan-Bold.svg#Allan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nasalization';
    src: url('../fonts/NasalizationRg-Regular.eot');
    src: url('../fonts/NasalizationRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NasalizationRg-Regular.woff2') format('woff2'),
        url('../fonts/NasalizationRg-Regular.woff') format('woff'),
        url('../fonts/NasalizationRg-Regular.ttf') format('truetype'),
        url('../fonts/NasalizationRg-Regular.svg#NasalizationRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}