footer{
    background: $secondary-font-color;
    padding: 90px 0 0;
    @media only screen and (max-width: 767px) {
        padding: 50px 0 0;
    }
    h2{
        font-size: 84px;
        line-height: 98px;
        color: white;
        strong{
            font-weight: 700;
        }
        @media only screen and (max-width: 1599px) {
            font-size: 68px;
            line-height: 76px;
        }
        @media only screen and (max-width: 1199px) {
            font-size: 52px;
            line-height: normal;
        }
        @media only screen and (max-width: 575px) {
            font-size: 38px;
        }
    }
    h4{
        color: white;
        @media only screen and (max-width: 575px) {
            font-size: 18px;
            font-weight: 500;
        }
    }
    .email-cont{
        font-size: 54px;
        padding: 20px 100px 20px 40px;
        border: 1px solid #505050;
        color: white;
        border-radius: 60px;
        position: relative;
        display: inline-block;
        line-height: normal;
        &:before {
            content: "";
            position: absolute;
            right: 46px;
            top: calc(50% - 7px);
            border: 2px solid white;
            width: 14px;
            z-index: 1;
            height: 14px;
            transform: rotateZ(-45deg);
            border-top: 0;
            border-left: 0;
            transition: all ease 0.1s;
        }
        &:after {
            content: "";
            position: absolute;
            right: 46px;
            top: calc(50% - 1px);
            border: 1px solid white;
            width: 30px;
            transition: all ease 0.2s;
        }

        &:hover{
            background: white;
            color: black;
            &:before {
                border-color: $cta-color;
                transform: none; 
                height: 0px; 
                top: calc(50% - 1px);
            }
            &:after {
                border-color: $cta-color;
                width: 14px;
            }
        }
        @media only screen and (max-width: 1599px) {
            font-size: 44px;
        }
        @media only screen and (max-width: 1199px) {
            font-size: 26px;
            padding: 18px 80px 18px 25px;
            &::before{
                top: calc(50% - 6px);
                width: 12px;
                height: 12px;
                right: 32px;
            }
            &::after{
                right: 32px;
                width: 22px;
            }
        }

        @media only screen and (max-width: 767px) {
            width: 100%;
        }
        @media only screen and (max-width: 575px) {
            font-size: 20px;
            padding: 18px 54px 18px 25px;
            &::before,&::after{
                right: 22px;
            }
        }
    }

    .footer-link{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                font-size: 16px;
                margin-bottom: 10px;
                a{
                    letter-spacing: 0.5px;
                    color: $primary-font-color;
                    opacity: 0.8;
                    position: relative;
                    &:after{
                        content: '';
                        width: 100%;
                        background: $primary-font-color;
                        display: inline-block;
                        height: 1px;
                        position: absolute;
                        left: 0px;
                        bottom: -3px;
                        transition: transform .5s cubic-bezier(.19,1,.22,1);
                        transform: scaleX(0) translateZ(0);
                        transform-origin: 100% 100%;
                    }
                    &:hover{
                        opacity: 1;
                        &::after{
                            transform: scaleX(1) translateZ(0);
                            transform-origin: 0 0;
                        }
                    }
                }
            }

            &.hideul{
                display: none;
            }
        }
    }

    .view-more{
        letter-spacing: 0.5px;
        color: $primary-font-color;
        font-size: 16px;
        &:after {
            content: "\f078";
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            font-size: 13px;
            margin-left: 9px;
            display: inline-block;
        }
        &:hover{
            opacity: 1;
            color: $cta-color;
        }
        &.active{
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    hr{
        color: #505050;
        opacity: 0.4;
    }
    .contact-info{
        background: #0F0F0E;
        padding: 30px;
        h5{
            color: white;
        }
        .info{
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    display: flex;
                    margin: 0 0 16px;
                    .icon{
                        width: 16px;
                        margin-right: 10px;
                        flex-shrink: 0;
                    }
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    color: rgba($color: $primary-font-color, $alpha: 0.8);
                    a{
                        color: rgba($color: $primary-font-color, $alpha: 0.8);
                        &:hover{
                            color: $primary-font-color;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 1399px) {
            padding: 20px;
        }
    }
   
    .social-here{
        ul{
            li{
                a{
                    color: #B4B4B4;
                }
            }
        }
    }
    .copyright{
        p{
            color: #B4B4B4;
            font-size: 16px;
            margin: 0;
            opacity: 0.7;
            @media only screen and (max-width: 575px) {
                font-size: 15px;
            }
        }
    }
    
}