
$body-bg:    #fff !default;

/* Fonts settings */
$body-font-family: 'AktivGrotesk', sans-serif;
$heading-font-family: 'AktivGrotesk', sans-serif;

$logo-font-family: 'Nasalization';
$style-font-family: 'Allan', sans-serif;

/* Colors */
$primary-color: #000000;
$secondary-color: #FD5A1E;
$cta-color: #FD5A1E;

/* font colors */
$primary-font-color: #fff;  //white
$secondary-font-color: #000;  //normal dark
$light-grey: #F8F8F8;
$secondary-light-grey: #E8E8E8;
$dark-color: #0F0F0E;
// $medium-grey:  #F1F2F4;

/* border colors */
$border-color: #E8E8E8;

/* transition */
$transition-animate: all ease 0.4s;

/* important */
$i: unquote("!important");